[submodule "imgui_sdl"]
	path = libs/imgui_sdl
	url = https://github.com/Tyyppi77/imgui_sdl
[submodule "SDL_ttf"]
	path = libs/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git
